:root {
    /*Sidebar background*/
    --sidebar-bg: hsl(256, 86%, 17%);
    --lighter-sidebar-bg: hsl(256, 40%, 40%);

    /*Text colors*/
    --black: #1a181b;
    --white: hsl(0, 0%, 100%);
    --dark-grey: hsl(264, 5%, 20%);
    --light-grey: hsl(210, 17%, 95%);

    /*linecolor*/
    --bg: hsl(215, 59%, 94%);

    /*Hovers*/
    --row-hover: rgb(222, 226, 230);
    --li-hover: hsl(20, 15%, 92%);

    /*Borders*/
    --border: hsl(0, 5%, 85%);

    /*Highlights*/
    --high-light-1: hsl(0, 0%, 100%);
    --high-light-2: hsl(0, 0%, 97%);
    --high-light-3: hsl(0, 0%, 17%);

    /*Colors*/
    --red: hsl(348, 80%, 50%);
    --green: hsl(168, 100%, 36%);
    --orange: #fdcd0d;

    /*Additional colors*/
    --color1: #57efc4;
    --color2: hsl(180, 74%, 72%);
    --color3: hsl(210, 100%, 73%);
    --color4: hsl(244, 98%, 80%);
    --color5: hsl(198, 19%, 89%);
    --color6: hsl(168, 100%, 36%);
    --color7: hsl(179, 100%, 40%);
    --color8: #0984e1;
    --color9: rgb(108, 92, 230);
    --color10: hsl(198, 12%, 73%);
    --color11: hsl(46, 100%, 83%);
    --color12: hsl(11, 90%, 80%);
    --color13: hsl(0, 100%, 73%);
    --color14: hsl(339, 97%, 73%);
    --color15: hsl(196, 7%, 42%);
    --color16: hsl(39, 97%, 71%);
    --color17: #e17256;
    --color18: #d62e2e;
    --color19: hsl(331, 78%, 59%);
    --color20: hsl(193, 9%, 19%);
}