* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Lato", serif;
    height: 100vh;
    background: var(--bg);
}

.sidebar {
    background: var(--black);
    width: 16%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    transition: 0.3s ease;
    border-right: 3px solid var(--lighter-sidebar-bg); 
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.opened {
    left: 0;
}

.sidebar.opened ~ .main {
    left: 16%;
}

.sidebar.closed {
    left: -100%;
}

.sidebar.closed ~ .main {
    left: 0;
    width: 100%;
}

.sidebar.closed ~ .main .content {
    margin-top: 3.8%;
}

.sidebar .logo_part {
    text-decoration: none;
}

.sidebar .logo_part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.sidebar p {
    color: var(--white);
}

.sidebar .logo_part .logo {
    color: var(--lighter-sidebar-bg);
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo_part p {
    font-size: 1.5rem;
}

.sidebar .pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: var(--white);
}

.sidebar .pages a.item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    padding: 8px 20px;
    margin-bottom: 8px;
    color: var(--white);
    cursor: pointer;
}

.sidebar .pages a.item[status="selected"] {
    background: var(--lighter-sidebar-bg);
}

.sidebar .pages a.item[status="none"] {
    background: transparent;
}

.sidebar .pages div.item[list="closed"] > .l {
    display: none;
}

.sidebar .pages div.item[list="opened"] > .l {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sidebar .pages div.item[status="selected"] > .d {
    background: var(--lighter-sidebar-bg);
}

.sidebar .pages div.item[status="none"] > .d {
    background: transparent;
}

.sidebar .pages a.item:hover {
    background: var(--lighter-sidebar-bg);
}

.sidebar .pages a.item .icon {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .pages .item .text {
    width: 85%;
    font-weight: 300;
}

.sidebar .pages .item .chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    width: 15%;
}

.sidebar .pages .item .chevron:hover {
    background: var(--sidebar-bg);
}

.sidebar .pages div.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.sidebar .pages div.item .d {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.sidebar .pages div.item .d:hover {
    background: var(--lighter-sidebar-bg);
}

.sidebar .pages div.item .link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    padding: 8px 20px;
    margin-bottom: 8px;
    color: var(--white);
    cursor: pointer;
}

.sidebar .pages div.item .link .icon {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .pages div.item .link .text {
    width: 75%;
    font-weight: 300;
}

.sidebar .pages div.item .chevron {
    width: 15%;
    padding: 10px;
    border-radius: 50%;
}

.sidebar .pages div.item .l {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar .pages div.item .l .subitem {
    width: 100%;
    text-decoration: none;
    padding: 8px 20px;
    margin-bottom: 8px;
    color: var(--white);
    cursor: pointer;
    font-size: 12px;
}

.sidebar .pages div.item .l .subitem:hover {
    background: var(--dark-grey);
    text-decoration: underline;
    text-decoration-style: dashed;
}

.main {
    width: 84%;
    position: absolute;
    top: 0;
    height: 100%;
    transition: 0.2s ease;
}

.main .header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 15px 20px;
    position: fixed;
    z-index: 10;
    height: 8%;
    background: var(--high-light-3);
    color: var(--white);
}

.main .header .left {
    display: flex;
    align-items: center;
    width: auto;
    padding: 3px 10px;
    cursor: pointer;
}

.main .header .left:hover {
    background: var(--dark-grey);
}

.main .header .left .menu_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: var(--white);
}

.main .content {
    margin-top: 4.55%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 92%;
    background: var(--black);
}

.main .content .tasks {
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    color: var(--white);
}

.main .content .tasks .text {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color17);
    padding: 5px 10px;
    margin-bottom: 15px;
}

.main .content .tasks .dashexp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.main .content .tasks .dashexp .text {
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 0;
}

.main .content .tasks .dashexp select {
    width: 85%;
    padding: 5px 10px;
    border: 1px solid var(--lighter-sidebar-bg);
    margin-left: 10px;
    margin-bottom: 10px;
    background: transparent;
    color: var(--white);
}

.main .content .tasks .dashexp select:focus {
    outline: none;
}

.main .content .tasks .dashexp select::-webkit-scrollbar {
    display: none;
}

.main .content .tasks .dashexp select option {
    background-color: var(--black);
    color: white;
    padding: 3px 8px;
}

.main .content .tasks .dashexp select optgroup {
    background-color: var(--black);
    color: white;
}

.main .content .tasks button {
    margin-top: 20px;
    width: 45%;
    padding: 8px 25px;
    border: 1px solid var(--black);
    outline: none;
    margin-left: auto;
    margin-right: auto;
}

.main .content .tasks button:hover {
    background: var(--white);
}

.main .content #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.legend {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
    width: 200px;
}

.legend h3 {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.color-ramp {
    height: 20px;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0), rgb(0, 255, 0));
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 5px;
}

.legend-labels {
    display: flex;
    justify-content: space-between;
}

.legend-labels span {
    font-size: 10px;
}



