* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Jost', sans-serif;
    height: 100vh;
    background: var(--black);
}

.sidebar {
    background: var(--black);
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 0;
    transition: 0.3s ease;
    border-right: 3px solid var(--lighter-sidebar-bg); 
}

.sidebar.opened {
    left: 0;
}

.sidebar.opened ~ .main {
    left: 16%;
}

.sidebar.closed {
    left: -100%;
}

.sidebar.closed ~ .main {
    left: 0;
    width: 100%;
}

.sidebar.closed ~ .main .content {
    margin-top: 3.8%;
}

.sidebar .logo_part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.sidebar p {
    color: var(--white);
}

.sidebar .logo_part .logo {
    color: var(--lighter-sidebar-bg);
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo_part p {
    font-size: 1.5rem;
}

.sidebar .pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: var(--white);
}

.sidebar .pages .item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    padding: 8px 20px;
    margin-bottom: 8px;
    color: var(--white);
    cursor: pointer;
}

.sidebar .pages .item[status="selected"] {
    background: var(--lighter-sidebar-bg);
}

.sidebar .pages .item[status="none"] {
    background: transparent;
}

.sidebar .pages .item:hover {
    background: var(--lighter-sidebar-bg);
}

.sidebar .pages .item .icon {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 84%;
    position: absolute;
    top: 0;
    height: 100%;
    transition: 0.2s ease;
}

.main .header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 15px 20px;
    position: fixed;
    z-index: 10;
    height: 8%;
    background: var(--high-light-3);
    color: var(--white);
}

.main .header .left {
    display: flex;
    align-items: center;
    width: auto;
    padding: 3px 10px;
    cursor: pointer;
}

.main .header .left:hover {
    background: var(--dark-grey);
}

.main .header .left .menu_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: var(--white);
}

.main .content {
    margin-top: 4.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92%;
}

.main .content #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.tabV {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    background: var(--black);
    transition: 0.2s ease;
}

.tabV.point {
    width: 38%;
}

.tabV.point input {
    width: 44%;
}

.tabV.region input {
    width: 22%;
}

.tabV.country input {
    width: 88%;
}

.tabV.region {
    width: 55%;
}

.tabV.country {
    width: 24%;
}

.tabV[status="none"] {
    top: -100%;
}

.tabV[status="none"] > .roll-btn {
    visibility: hidden;
}

.tabV[status="selected"] {
    top: 8%;
}

.tabV[status="selected"] > .roll-btn {
    visibility: visible;
}

.tabV[type="unrolled"] > .roll-btn {
    top: -100%;
}

.tabV[type="rolled"] {
    top: 0;
}

.tabV[type="rolled"] > .roll-btn {
    top: 135%;
}

.tabV form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tabV input {
    padding: 5px 10px;
    background: transparent;
    border: 1px solid var(--border);
    font-size: 14px;
    color: var(--white);
    margin: 5px 0;
}

.tabV input:focus {
    border: 1px solid var(--lighter-sidebar-bg);
    outline: none;
}

.tabV input {
    margin-right: 8px;
    margin-left: 8px;
}

.tabV .close,
.tabV .go {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 6%;
    height: 100%;
    padding: 6px 0;
    border: none;
    outline: none;
    background: transparent;
}

.tabV .close:hover {
    background: red;
}

.tabV .go:hover {
    background: var(--green);
}

.tabV .roll-btn {
    background: var(--white);
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: rotate(-180deg);
    position: absolute;
}

#loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 4;
    background: var(--black);
    transition: 0.2s ease;
}

#loading[status="opened"] {
    top: 8%;
}

#loading[status="closed"] {
    top: -100%;
    display: none;
}



